html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

header .header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 0 4%;
  line-height: 70px;
  background-color: black;
  color: white;
}

header .header-wrapper .header-left h2 {
  margin: 0;
}

header .header-wrapper .header-left h2 a {
  color: white;
}

header .header-wrapper .header-left h2 a:hover {
  text-shadow: 0 0 4px white;
}

@media (max-width: 768px) {
  header .header-wrapper .header-right {
    display: none;
  }
}

header .header-wrapper .header-right ul {
  display: flex;
}

header .header-wrapper .header-right ul li a {
  color: white;
  margin-right: 25px;
}

header .header-wrapper .header-right ul li a:hover {
  text-shadow: 0 0 4px white;
}

header .header-wrapper .header-nav-btn {
  display: none;
}

@media (max-width: 768px) {
  header .header-wrapper .header-nav-btn {
    display: block;
  }
}

header .header-wrapper .header-nav-btn .menu-toggle {
  position: fixed;
  top: 25px;
  right: 20px;
  transform: translateX(0);
  transition: all .5s;
  width: 30px;
  height: 25px;
  z-index: 100;
}

header .header-wrapper .header-nav-btn .menu-toggle span {
  display: inline-block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  background-color: #fff;
}

header .header-wrapper .header-nav-btn .menu-toggle span:nth-child(2) {
  top: 12px;
}

header .header-wrapper .header-nav-btn .menu-toggle span:nth-child(3) {
  top: 24px;
}

header .header-wrapper .header-nav-btn .menu-toggle.active {
  transform: translateX(-250px);
  transition: all .5s;
}

header .header-wrapper .header-nav-btn .menu-toggle.active span:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
}

header .header-wrapper .header-nav-btn .menu-toggle.active span:nth-child(2) {
  display: none;
}

header .header-wrapper .header-nav-btn .menu-toggle.active span:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

header .header-wrapper .header-nav-btn nav {
  width: 250px;
  position: fixed;
  top: 0;
  right: -250px;
  transform: translateX(0);
  transition: all .5s;
  z-index: 100;
}

header .header-wrapper .header-nav-btn nav ul {
  color: white;
  background-color: black;
  padding: 0;
  margin: 0;
  height: 100vh;
}

header .header-wrapper .header-nav-btn nav ul li {
  list-style: none;
  text-align: center;
  height: 50px;
}

header .header-wrapper .header-nav-btn nav ul li a {
  color: #fff;
}

header .header-wrapper .header-nav-btn nav.open {
  transform: translateX(-250px);
  transition: all .5s;
}

header .header-wrapper .header-nav-btn nav.open ul li {
  z-index: 100;
  color: white;
  position: relative;
}

header .main-visual .visual-wrapper {
  background-image: url("../img/cf53603fe168f5cbbc476e1966137167_s.jpg");
  background-size: cover;
  height: 650px;
  position: relative;
  z-index: 1;
}

header .main-visual .visual-wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 25, 25, 0.5);
  z-index: 2;
}

header .main-visual .visual-wrapper .main-visial-title {
  text-align: center;
  padding-top: 250px;
  color: white;
  z-index: 3;
  position: relative;
}

header .main-visual .visual-wrapper .main-visial-title h2 {
  margin: 0 0 10px 0;
  font-size: 40px;
  z-index: 4;
}

header .main-visual .visual-wrapper .main-visial-title p {
  font-size: 26px;
  margin: 0;
}

main .sec-title {
  text-align: center;
  padding: 20px;
  background-color: #3B4552;
  color: white;
  position: relative;
}

main .sec-title i {
  font-size: 30px;
  color: #46B39D;
  text-shadow: 0 0 4px white;
}

main .sec-title h3 {
  margin: 6px 0 0;
  font-size: 26px;
}

main .sec-title p {
  margin: 0;
}

main .sec-title::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #3B4552 transparent transparent transparent;
  border-width: 30px 70px 0 70px;
  z-index: 100;
}

main .inner-wrap {
  padding: 40px;
  box-sizing: border-box;
  width: 100%;
}

main .profile .profile-content {
  background-color: #22252A;
}

main .profile .profile-content .inner {
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
}

@media (max-width: 768px) {
  main .profile .profile-content .inner {
    display: block;
  }
}

main .profile .profile-content .inner .profile-left {
  width: 50%;
}

@media (max-width: 768px) {
  main .profile .profile-content .inner .profile-left {
    width: 100%;
  }
}

main .profile .profile-content .inner .profile-left .profile-img {
  width: 70%;
  margin: 0 auto;
  min-width: 300px;
  min-height: 300px;
  height: 30vw;
}

@media (max-width: 768px) {
  main .profile .profile-content .inner .profile-left .profile-img {
    text-align: center;
  }
}

main .profile .profile-content .inner .profile-left .profile-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  main .profile .profile-content .inner .profile-left .profile-img img {
    width: 300px;
  }
}

main .profile .profile-content .inner .profile-left h4 {
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 20px 0;
}

main .profile .profile-content .inner .profile-left ul {
  display: flex;
  justify-content: center;
  border: solid #8d8888 1px;
  margin: 20px auto 0;
  width: 50%;
  border-radius: 50px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #3d3a3a;
}

main .profile .profile-content .inner .profile-left ul li:nth-child(1) a i {
  color: #1EA1F2;
  font-size: 50px;
  margin-right: 30px;
  text-shadow: 0 0 4px white;
}

main .profile .profile-content .inner .profile-left ul li:nth-child(1) a i:hover {
  text-shadow: 0 0 10px white;
}

main .profile .profile-content .inner .profile-left ul li:nth-child(2) a i {
  color: #FFFFFF;
  font-size: 50px;
  text-shadow: 0 0 4px white;
}

main .profile .profile-content .inner .profile-left ul li:nth-child(2) a i:hover {
  text-shadow: 0 0 10px white;
}

main .profile .profile-content .inner .profile-right {
  width: 50%;
}

@media (max-width: 768px) {
  main .profile .profile-content .inner .profile-right {
    width: 100%;
  }
}

main .profile .profile-content .inner .profile-right .profile-right-content {
  padding-top: 40px;
  padding-right: 40px;
  color: white;
}

@media (max-width: 768px) {
  main .profile .profile-content .inner .profile-right .profile-right-content {
    padding: 0;
  }
}

main .profile .profile-content .inner .profile-right .profile-right-content .name {
  margin: 0 0 30px;
}

main .profile .profile-content .inner .profile-right .profile-right-content .name h4 {
  font-size: 28px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 768px) {
  main .profile .profile-content .inner .profile-right .profile-right-content .name h4 {
    font-size: 26px;
  }
}

main .profile .profile-content .inner .profile-right .profile-right-content .old {
  font-size: 20px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  main .profile .profile-content .inner .profile-right .profile-right-content .old {
    font-size: 18px;
  }
}

main .profile .profile-content .inner .profile-right .profile-right-content .old p {
  margin: 0;
}

main .profile .profile-content .inner .profile-right .profile-right-content .career {
  font-size: 20px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  main .profile .profile-content .inner .profile-right .profile-right-content .career {
    font-size: 18px;
  }
}

main .profile .profile-content .inner .profile-right .profile-right-content .career p {
  margin: 20px 0;
}

main .works .works-content .works-items {
  display: flex;
}

@media (max-width: 768px) {
  main .works .works-content .works-items {
    display: block;
  }
}

main .works .works-content .works-items a:nth-child(2) .item-rank {
  background-color: #8B8F93;
  opacity: 0.7;
}

main .works .works-content .works-items a:nth-child(3) .item-rank {
  background-color: #804D37;
  opacity: 0.7;
}

@media (max-width: 768px) {
  main .works .works-content .works-items a:nth-child(4) {
    display: none;
  }
}

main .works .works-content .works-items a:nth-child(4) .item-rank {
  background-color: #686151;
  opacity: 0.7;
}

@media (max-width: 768px) {
  main .works .works-content .works-items a:nth-child(5) {
    display: none;
  }
}

main .works .works-content .works-items a:nth-child(5) .item-rank {
  background-color: #7E5C32;
  opacity: 0.7;
}

main .works .works-content .works-items .works-item {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

main .works .works-content .works-items .works-item .works-img {
  position: relative;
  width: 100%;
}

main .works .works-content .works-items .works-item .works-img img {
  width: 100%;
}

main .works .works-content .works-items .works-item .item-rank {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 45px;
  height: 40px;
  line-height: 40px;
  background-color: #E3C97A;
  margin: 0;
  opacity: 0.8;
  font-size: 18px;
  text-align: center;
}

main .works .works-content .works-items .works-item .item-rank small {
  font-size: 14px;
}

main .works .works-content .works-items .works-item .works-item-content {
  padding: 6px;
}

main .works .works-content .works-items .works-item .works-item-content p {
  background-color: #46B39D;
  text-align: center;
  color: white;
  display: inline-block;
  padding: 2px 20px;
  margin: 4px 0;
  font-size: 14px;
}

main .works .works-content .works-items .works-item .works-item-content h3 {
  color: black;
  font-weight: normal;
  margin: 10px 0;
  font-size: 15px;
}

main .works .works-content .works-more {
  text-align: right;
  padding-right: 20px;
}

main .works .works-content .works-more a {
  color: #46B39D;
}

main .works .works-content .works-more a:hover {
  text-shadow: 0 0 4px #64d1bb;
}

main .skill-content {
  background-color: #22252A;
}

main .skill-content .skill-bars {
  width: 90%;
  margin: 30px auto;
}

main .skill-content .skill-bars .skill-1 {
  background-color: #DE1F2F;
}

main .skill-content .skill-bars .skill-1 span {
  background-color: #BD1B29;
}

main .skill-content .skill-bars .skill-1 p {
  width: calc(30% - 50px);
}

main .skill-content .skill-bars .skill-2 {
  background-color: #EBB035;
}

main .skill-content .skill-bars .skill-2 span {
  background-color: #C8952D;
}

main .skill-content .skill-bars .skill-2 p {
  width: calc(40% - 50px);
}

main .skill-content .skill-bars .skill-3 {
  background-color: #228559;
}

main .skill-content .skill-bars .skill-3 span {
  background-color: #1E704C;
}

main .skill-content .skill-bars .skill-3 p {
  width: calc(50% - 50px);
}

main .skill-content .skill-bars .skill-4 {
  background-color: #06A2CB;
}

main .skill-content .skill-bars .skill-4 span {
  background-color: #0889AC;
}

main .skill-content .skill-bars .skill-4 p {
  width: calc(60% - 50px);
}

main .skill-content .skill-bars .skill-bar {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  border-radius: 6px;
}

main .skill-content .skill-bars .skill-bar span {
  padding: 1px 10px;
  color: white;
  line-height: 26px;
  display: inline-block;
  font-size: 15px;
  width: 80px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

main .skill-content .skill-bars .skill-bar p {
  font-size: 13px;
  margin: 0;
  color: #9C9C9C;
  background-color: #fff;
  line-height: 28px;
  text-align: right;
  box-sizing: border-box;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

main .service-content .service-items {
  display: flex;
}

@media (max-width: 768px) {
  main .service-content .service-items {
    display: block;
  }
}

main .service-content .service-items .service-item {
  width: 50%;
  background-image: url(https://hikoproduction.com/wp-content/themes/xeory_extension-child/image/service1.jpg);
  background-size: cover;
}

@media (max-width: 768px) {
  main .service-content .service-items .service-item {
    width: 100%;
  }
}

main .service-content .service-items .service-item .service-item-title {
  text-align: center;
  padding-top: 20px;
  position: relative;
  z-index: 1;
}

main .service-content .service-items .service-item .service-item-title h3 {
  font-size: 36px;
  color: #46B39D;
  margin: 0;
  position: relative;
  z-index: 10;
}

main .service-content .service-items .service-item .service-item-title p {
  color: white;
  margin: 0;
  font-size: 18px;
  position: relative;
  z-index: 10;
}

main .service-content .service-items .service-item .service-item-title::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  background-color: rgba(116, 116, 117, 0.4);
  z-index: 5;
}

main .service-content .service-items .service-item .service-item-content {
  width: 100%;
  padding: 20px 80px;
  box-sizing: border-box;
  color: white;
  background-color: #22252a;
}

@media (max-width: 768px) {
  main .service-content .service-items .service-item .service-item-content {
    padding: 20px 40px;
  }
}

main .service-content .service-items .service-item .service-item-content ul {
  display: flex;
}

@media (max-width: 768px) {
  main .service-content .service-items .service-item .service-item-content ul {
    display: block;
  }
}

main .service-content .service-items .service-item .service-item-content ul li {
  text-align: center;
  font-size: 15px;
  color: white;
  padding: 2px 20px;
  width: 50%;
  box-sizing: border-box;
  border: solid 1px #46B39D;
  margin: 0 3px 3px 0;
}

@media (max-width: 768px) {
  main .service-content .service-items .service-item .service-item-content ul li {
    width: 100%;
  }
}

main .service-content .service-items .service-item .service-item-button p {
  color: white;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 8px 10px;
  background-color: #212529;
  border: solid 1px #46B39D;
}

main .service-content .service-items .service-item .service-item-button p a {
  color: white;
}

main .service-content .service-items .service-item .service-item-button p:hover {
  text-shadow: 0 0 4px white;
  box-shadow: 0 0 8px #46B39D;
}

main .service-content .service-items .service-item-right {
  width: 50%;
}

@media (max-width: 768px) {
  main .service-content .service-items .service-item-right {
    width: 100%;
  }
}

main .service-content .service-item-right {
  background-image: url(https://hikoproduction.com/wp-content/themes/xeory_extension-child/image/service2.jpg) !important;
  background-size: cover;
}

main .contact-content {
  background-color: #22252A;
}

main .contact-content .contact-box {
  max-width: 632px;
  width: 100%;
  margin: auto;
}

main .contact-content .contact-box p {
  color: white;
  margin-bottom: 30px;
}

main .contact-content .contact-box p input {
  width: 100%;
  padding: 8px 13px;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
  border: none;
}

main .contact-content .contact-box p textarea {
  width: 100%;
  padding: 8px 13px;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
  border: none;
}

main .contact-content .contact-box p:nth-child(4) {
  text-align: center;
}

main .contact-content .contact-box p:nth-child(4) input {
  background-color: #131D2A;
  color: white;
  font-size: 16px;
  width: 200px;
  margin: 0 auto;
  border: solid 1px #46B39D;
  padding: 10px;
}

footer {
  background-color: #031731;
}

footer .footer-wrapper {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

footer .footer-wrapper h2 {
  color: white;
  font-weight: normal;
  border-bottom: solid 1px #3B4552;
  padding: 25px 0;
  font-size: 22px;
  margin-bottom: 30px;
}

footer .footer-wrapper .footer-content {
  color: white;
  display: flex;
}

footer .footer-wrapper .footer-content .footer-menu {
  margin-right: 40px;
  white-space: nowrap;
}

footer .footer-wrapper .footer-content .footer-sns ul {
  width: 50%;
  border-radius: 50px;
  box-sizing: border-box;
}

footer .footer-wrapper .footer-content .footer-sns ul li:nth-child(1) a i {
  color: #1EA1F2;
  font-size: 25px;
  margin-right: 60px;
  text-shadow: 0 0 4px white;
}

footer .footer-wrapper .footer-content .footer-sns ul li:nth-child(1) a i:hover {
  text-shadow: 0 0 10px white;
}

footer .footer-wrapper .footer-content .footer-sns ul li:nth-child(2) a i {
  color: #FFFFFF;
  font-size: 25px;
  text-shadow: 0 0 4px white;
}

footer .footer-wrapper .footer-content .footer-sns ul li:nth-child(2) a i:hover {
  text-shadow: 0 0 10px white;
}

footer .footer-wrapper .footer-content li {
  margin-bottom: 10px;
}

footer .footer-wrapper .footer-content i {
  margin-right: 6px;
}

footer .footer-wrapper .footer-content a {
  color: white;
}

.pagetop {
  display: block;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #fff;
}

.pagetop span {
  display: block;
  border-radius: 25px;
  background-color: #2b2b2b;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 36px;
  opacity: .8;
}

.pagetop span .fa {
  font-size: 30px;
  display: inline-block;
  font-style: normal;
  line-height: 1;
  color: #47b390;
}
