* {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .sec4-wrap {
    padding: 40px 0;
  }
}

.chenge-img3 {
  display: none;
}

.m-bottom {
  margin: 0 0 10px 0;
}

.m-top {
  margin: 10px 0 0 0;
}

.m-0 {
  margin: 0;
}

.txtxs {
  font-size: 10px;
  margin: 0;
}

@media (max-width: 768px) {
  .dis-none {
    display: none;
  }
}

body {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

@media (max-width: 768px) {
  header {
    background-color: #fff;
    box-sizing: border-box;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .header-wrapper {
    padding: 0 0 0 10px;
    box-sizing: border-box;
  }
}

.header-wrapper .header-left .header-left-box {
  width: 200px;
  height: 25px;
  padding: 27.5px 0;
}

@media (max-width: 768px) {
  .header-wrapper .header-left .header-left-box {
    padding: 15px 0 0 0;
    width: 105px;
  }
  .header-wrapper .header-left .header-left-box .chenge-img {
    display: none;
  }
  .header-wrapper .header-left .header-left-box .chenge-img3 {
    display: block;
  }
}

.header-wrapper .header-left .header-left-box img {
  width: 100%;
}

.header-wrapper .header-right ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-wrapper .header-right ul li {
  list-style: none;
  padding: 15px 0;
}

.header-wrapper .header-right ul li:nth-child(7) a {
  padding-left: 6px;
  border-left: solid 1px white;
}

.header-wrapper .header-right ul li:nth-child(8) a {
  background-color: #F3920A;
  border-radius: 5px;
  padding: 16px 10px;
  margin-right: 0;
}

.header-wrapper .header-right ul li:nth-child(8) a:hover::after {
  display: none;
}

.header-wrapper .header-right ul li a {
  padding: 16px 0;
  display: inline-block;
  font-size: 12px;
  margin-right: 20px;
  color: white;
  position: relative;
}

.header-wrapper .header-right ul li a::after {
  content: "";
  width: 0;
  transition: all .3s ease;
  border-bottom: solid 2px white;
  display: block;
  position: absolute;
  left: 0;
}

.header-wrapper .header-right ul li a:hover::after {
  width: 100%;
  border-bottom: solid 2px white;
}

@media (max-width: 768px) {
  .header-wrapper .header-right ul li:not(:last-of-type) a {
    display: none;
  }
  .header-wrapper .header-right ul li:last-of-type {
    padding: 0;
  }
  .header-wrapper .header-right ul li:last-of-type a {
    padding: 12px;
    border-radius: 0;
  }
}

.header-wrapper .header-right ul .menu {
  display: none;
  background-color: #00306E;
  padding: 0 13px;
  line-height: 42px;
  color: white;
  font-size: 20px;
}

@media (max-width: 768px) {
  .header-wrapper .header-right ul .menu {
    display: block;
  }
}

#bottom-black::after {
  content: "";
  width: 0;
  transition: all .3s ease;
  border-bottom: solid 2px black;
  display: block;
  position: absolute;
  left: 0;
}

#bottom-black:hover::after {
  width: 100%;
  border-bottom: solid 2px black;
}

main .main-wrapper {
  display: flex;
}

@media (max-width: 768px) {
  main .main-wrapper {
    flex-direction: column-reverse;
  }
}

main .main-wrapper .main-left {
  background-color: #00306E;
  width: 50%;
}

@media (max-width: 768px) {
  main .main-wrapper .main-left {
    width: 100%;
  }
}

main .main-wrapper .main-left .ma-left-container {
  padding: 140px 15px 20px;
}

@media (max-width: 768px) {
  main .main-wrapper .main-left .ma-left-container {
    padding: 20px 0;
  }
}

main .main-wrapper .main-left .ma-left-container img {
  margin: 0 15px 10px;
}

main .main-wrapper .main-left .ma-left-container p {
  font-size: 15px;
  color: white;
  text-align: center;
}

main .main-wrapper .main-left .ma-left-container .ma-left-items .ma-item {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

main .main-wrapper .main-left .ma-left-container .ma-left-items .ma-item p {
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 50%;
  color: #00306E;
  position: relative;
  margin: 0 8px 0;
}

@media (max-width: 768px) {
  main .main-wrapper .main-left .ma-left-container .ma-left-items .ma-item p {
    width: 100px;
    height: 100px;
  }
}

main .main-wrapper .main-left .ma-left-container .ma-left-items .ma-item p small {
  margin-top: 30px;
  display: inline-block;
  font-size: 11.5px;
}

@media (max-width: 768px) {
  main .main-wrapper .main-left .ma-left-container .ma-left-items .ma-item p small {
    font-size: 10px;
  }
}

main .main-wrapper .main-left .ma-left-container .ma-left-items .ma-item p small:nth-child(3) {
  margin-top: 0;
  position: absolute;
  right: 5px;
  top: 48px;
  font-size: 10px;
}

main .main-wrapper .main-left .ma-left-container .ma-left-items .ma-item p .ma-item-first {
  margin-top: 20px !important;
}

main .main-wrapper .main-left .ma-left-container .ma-left-items .ma-item p strong {
  display: block;
  font-size: 22.5px;
  width: 100%;
  letter-spacing: -1px;
}

@media (max-width: 768px) {
  main .main-wrapper .main-left .ma-left-container .ma-left-items .ma-item p strong {
    font-size: 18px;
  }
}

main .main-wrapper .main-left .ma-left-container .ma-left-items .ma-item p .ma-item-last {
  position: absolute !important;
  top: 70px !important;
  left: 10px;
  font-size: 12px !important;
}

main .main-wrapper .main-left .ma-left-container .apoint-button-box {
  width: 80%;
  padding: 10px;
  background-color: #F3920A;
  margin: 0 auto 15px;
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  main .main-wrapper .main-left .ma-left-container .apoint-button-box {
    width: 60%;
    border-radius: 40px;
    position: relative;
    padding: 6px 10px 14px 8px;
  }
}

main .main-wrapper .main-left .ma-left-container .apoint-button-box small {
  font-size: 12px;
}

@media (max-width: 768px) {
  main .main-wrapper .main-left .ma-left-container .apoint-button-box small {
    font-size: 10px;
    line-height: 1;
  }
}

main .main-wrapper .main-left .ma-left-container .apoint-button-box strong {
  display: block;
  font-size: 20px;
}

@media (max-width: 768px) {
  main .main-wrapper .main-left .ma-left-container .apoint-button-box strong {
    font-size: 16px;
    line-height: 1;
  }
}

main .main-wrapper .main-left .ma-left-container .apoint-button-box strong i {
  margin-left: 10px;
}

@media (max-width: 768px) {
  main .main-wrapper .main-left .ma-left-container .apoint-button-box strong i {
    position: absolute;
    right: 3%;
    top: 40%;
  }
}

main .main-wrapper .main-left .ma-left-container .ma-left-sec .txtxs {
  font-size: 10px;
  text-align-last: right;
  padding: 0 10px;
}

@media (max-width: 768px) {
  main .main-wrapper .main-left .ma-left-container .ma-left-sec .txtxs {
    text-align-last: left;
  }
}

main .main-wrapper .main-left .ma-left-container .ma-left-sec .txtxs span {
  border-bottom: solid 1px white;
}

main .main-wrapper .main-right {
  width: 50%;
  background-image: url(https://tech-camp.in/assets/expert/bg/bg-firstview-momotani-802c0433893ebde4785303579848bb90.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  main .main-wrapper .main-right {
    width: 100%;
    height: 200px;
  }
}

main .main-wrapper .main-right .ma-right-container {
  position: relative;
}

@media (max-width: 768px) {
  main .main-wrapper .main-right .ma-right-container {
    width: 100%;
    height: 200px;
  }
}

main .main-wrapper .main-right .ma-right-container .ma-right-last {
  font-size: 10px;
  text-align: right;
  position: absolute;
  top: 170px;
  right: 10px;
  color: white;
}

@media (max-width: 768px) {
  main .main-wrapper .main-right .ma-right-container .ma-right-last {
    display: block;
  }
}

main .main-wrapper .main-right .ma-right-imgbox {
  width: 220px;
  position: absolute;
  right: 0;
  top: 300px;
}

@media (max-width: 768px) {
  main .main-wrapper .main-right .ma-right-imgbox {
    top: 85px;
    width: 110px;
    left: 0;
  }
  main .main-wrapper .main-right .ma-right-imgbox p {
    display: none;
  }
}

main .main-wrapper .main-right .ma-right-imgbox img {
  width: 100%;
}

main .main-wrapper .main-right .ma-right-imgbox p {
  font-size: 12px;
  color: white;
  text-shadow: 0 0 6px #555;
}

.ma-2col-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .ma-2col-container {
    display: block;
  }
}

.ma-2col-container .ma-2col-item a {
  padding: 20px;
  display: block;
}

@media (max-width: 768px) {
  .ma-2col-container .ma-2col-item a {
    padding: 10px;
  }
}

.ma-2col-container .ma-2col-item a img {
  width: 350px;
  height: 90px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .ma-2col-container .ma-2col-item a img {
    width: 100%;
    height: 25vw;
  }
}

.ma-2col-container2 {
  background-color: #00306E;
  padding: 10px;
}

@media (max-width: 768px) {
  .ma-2col-container2 {
    background-color: #fff;
  }
}

.ma-2col-container2 .ma-2col-wrap {
  display: flex;
}

@media (max-width: 768px) {
  .ma-2col-container2 .ma-2col-wrap {
    display: block;
  }
}

.ma-2col-container2 .ma-2col-wrap .ma-2col-item2 {
  width: 50%;
}

@media (max-width: 768px) {
  .ma-2col-container2 .ma-2col-wrap .ma-2col-item2 {
    width: 100%;
  }
}

.ma-2col-container2 .ma-2col-wrap .ma-2col-item2 a {
  display: block;
  background-color: #00306e;
}

.ma-2col-container2 .ma-2col-wrap .ma-2col-item2 .ma-2col-imgbox {
  background-image: url(https://tech-camp.in/assets/expert/bg/img_course_02-b1f027201910837e2d275222b3c35b6e.jpg);
  background-size: cover;
  background-position: 20% 73%;
}

.ma-2col-container2 .ma-2col-wrap .ma-2col-item2 .ma-2col-imgbox .ma-2col-inner {
  padding: 10px 25px 10px 10px;
  background-color: rgba(6, 40, 102, 0.7);
}

@media (max-width: 768px) {
  .ma-2col-container2 .ma-2col-wrap .ma-2col-item2 .ma-2col-imgbox .ma-2col-inner {
    padding: 5px;
    margin-bottom: 10px;
  }
}

.ma-2col-container2 .ma-2col-wrap .ma-2col-item2 .ma-2col-imgbox .ma-2col-inner2 {
  padding: 10px 10px 10px 25px;
}

@media (max-width: 768px) {
  .ma-2col-container2 .ma-2col-wrap .ma-2col-item2 .ma-2col-imgbox .ma-2col-inner2 {
    padding: 5px;
  }
}

.ma-2col-container2 .ma-2col-wrap .ma-2col-item2 .ma-2col-imgbox p {
  padding: 50px;
  font-size: 20px;
  color: white;
  border: solid 1px white;
  margin: 0;
}

@media (max-width: 768px) {
  .ma-2col-container2 .ma-2col-wrap .ma-2col-item2 .ma-2col-imgbox p {
    padding: 10px 10px 8px;
  }
}

.ma-2col-container2 .ma-2col-wrap .ma-2col-item2 .ma-2col-imgbox2 {
  background-image: url(https://tech-camp.in/assets/expert/bg/img_course_03-590ec98e943833c060ea22ba095a4879.jpg);
  background-position: 20% 30%;
}

.section-wrapper {
  padding: 60px 0;
  background-color: #fafafa;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 40px 0;
  }
}

.section1 .sec1-content {
  text-align: center;
}

.section1 .sec1-content h3 {
  font-size: 27px;
  color: #00306E;
}

@media (max-width: 768px) {
  .section1 .sec1-content h3 {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .section1 .sec1-content p:first-of-type {
    font-size: 13px;
    padding: 10px 20px;
    background-color: #00306e;
    color: white;
    display: inline-block;
    line-height: 1;
    margin-bottom: 10px;
  }
}

.section1 .sec1-content p:nth-child(3) {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .section1 .sec1-content p:nth-child(3) {
    font-size: 14px;
  }
  .section1 .sec1-content p:nth-child(3) strong {
    border-bottom: 1px solid #333333;
  }
}

.sec1-items {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  max-width: 100%;
}

.sec1-items .sec1-item {
  width: 33.3%;
  position: relative;
  padding: 0 10px;
  box-sizing: border-box;
}

.sec1-items .sec1-item::after {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
  right: -8px;
  top: 42%;
  font-size: 35px;
  color: #002E76;
}

.sec1-items .sec1-item:nth-child(2) .sec1-img {
  background-image: url(https://tech-camp.in/assets/expert/materials/img-feature01-30eefd553258eef2b7b3a235f1ecf930.jpg);
}

.sec1-items .sec1-item:nth-child(3) .sec1-img {
  background-image: url(https://tech-camp.in/assets/expert/bg/bg-weekend-xs-5dae77411388d2f78b625d886dbccd23.jpg);
}

.sec1-items .sec1-item:nth-child(3)::after {
  display: none;
}

.sec1-items .sec1-item .sec1-img {
  border: solid 2px #fff;
  background-image: url(https://tech-camp.in/assets/expert/materials/img-feature03-bd7fff56aaff8106e8da4a4e6e08a121.jpg);
  background-size: cover;
  background-position: 50% 10%;
  height: 190px;
  position: relative;
}

.sec1-items .sec1-item .sec1-img .sec1-inner {
  background-color: rgba(245, 245, 245, 0.856);
  padding: 22.5px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sec1-items .sec1-item .sec1-img .sec1-inner p:nth-child(1) {
  text-align: center;
  background-color: #00306E;
  width: 52px;
  height: 52px;
  margin: 0 auto;
  line-height: 52px;
  font-size: 22px;
  color: white;
  border-radius: 50%;
  position: relative;
  z-index: 0;
}

.sec1-items .sec1-item .sec1-img .sec1-inner p:nth-child(1)::before {
  content: "";
  width: 26px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #32598A;
  border-radius: 26px 0 0 26px;
  z-index: 0;
}

.sec1-items .sec1-item .sec1-img .sec1-inner p:nth-child(1) span {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.sec1-items .sec1-item .sec1-img .sec1-inner p:nth-child(3) {
  font-size: 13px;
}

.sec1-items .sec1-item .sec1-img .sec1-inner h5 {
  font-size: 18px;
  margin: 10px 0 0;
  color: #00306e;
  text-align: center;
}

.section2 {
  background-image: url(https://tech-camp.in/assets/expert/campaign/r25/r25-bg-8a9e76502c806c445f0694f1ad3c9396.jpg);
  background-size: cover;
}

.section2 .sec2-imgbox {
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

.section2 .sec2-imgbox img {
  width: 100%;
}

.section2 .sec2-imgbox2 {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section2 .sec2-imgbox2 img {
  width: 100%;
}

.section2 .sec2-imgbox2 img:nth-child(1) {
  display: none;
}

@media (max-width: 768px) {
  .section2 .sec2-imgbox2 img:nth-child(1) {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .section2 .sec2-imgbox2 img:nth-child(2) {
    display: none;
  }
}

.section2 .iframe-box {
  width: 700px;
  margin: 0 auto 20px;
}

.section2 iframe {
  margin: 0 auto;
  width: 700px;
  height: 500px;
}

.section2 .sec2-imgbox3 {
  width: 500px;
  margin: 0 auto;
}

.section2 .sec2-imgbox3 img {
  width: 100%;
}

@media (max-width: 768px) {
  .section3 {
    height: 65vw;
    overflow: hidden;
  }
}

.section3 .sec3-container {
  width: 1000px;
  margin: 50px auto 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}

@media (max-width: 768px) {
  .section3 .sec3-container {
    width: 100%;
    margin: 30px auto 0;
  }
}

.section3 .sec3-container .sec3-img-boxs {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .section3 .sec3-container .sec3-img-boxs {
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
}

.section3 .sec3-container .sec3-img-boxs .sec3-img-left {
  width: 60px;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .section3 .sec3-container .sec3-img-boxs .sec3-img-left {
    width: 5%;
    margin: 0 auto;
  }
}

.section3 .sec3-container .sec3-img-boxs .sec3-img-left img {
  width: 100%;
}

.section3 .sec3-container .sec3-img-boxs .sec3-img-center {
  width: 600px;
  position: relative;
}

@media (max-width: 768px) {
  .section3 .sec3-container .sec3-img-boxs .sec3-img-center {
    width: 85%;
    margin: 0 auto;
  }
}

.section3 .sec3-container .sec3-img-boxs .sec3-img-center p:nth-child(1) {
  font-size: 27px;
  width: 600px;
  margin: 0;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: #F3920A;
}

@media (max-width: 768px) {
  .section3 .sec3-container .sec3-img-boxs .sec3-img-center p:nth-child(1) {
    font-size: 19px;
  }
}

.section3 .sec3-container .sec3-img-boxs .sec3-img-center p:nth-child(3) {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .section3 .sec3-container .sec3-img-boxs .sec3-img-center p:nth-child(3) {
    font-size: 21px;
    bottom: 0;
  }
}

.section3 .sec3-container .sec3-img-boxs .sec3-img-center img {
  width: 100%;
}

.section3 .sec3-container .sec3-img-boxs .sec3-img-right {
  width: 60px;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .section3 .sec3-container .sec3-img-boxs .sec3-img-right {
    width: 5%;
    margin: 0 auto;
  }
}

.section3 .sec3-container .sec3-items {
  display: flex;
  justify-content: center;
}

.section3 .sec3-container .sec3-items .sec3-item {
  width: 220px;
  margin-right: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .section3 .sec3-container .sec3-items .sec3-item {
    margin-right: 10px;
  }
}

.section3 .sec3-container .sec3-items .sec3-item img {
  width: 100%;
}

.section3 .sec3-wrap {
  position: relative;
}

.section3 .sec3-last p {
  font-size: 11px;
  margin: 20px auto 0;
  width: 100%;
  color: #C0C3C6;
}

.section3 .slider {
  padding: 0;
  margin: 0;
  z-index: 1;
}

.section3 .slider li {
  width: 300px !important;
  height: 13vw;
}

.section3 .slider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 48, 110, 0.9);
}

.section3 .slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section4-title h2 {
  color: #00306E;
  text-align: center;
  font-size: 27px;
}

.section4-title h2 br {
  display: none;
}

@media (max-width: 768px) {
  .section4-title h2 {
    font-size: 20px;
  }
  .section4-title h2 br {
    display: block;
  }
}

.section4-title p {
  font-size: 16px;
  text-align: center;
}

@media (max-width: 768px) {
  .section4-title p {
    font-size: 14px;
    text-align-last: left;
  }
}

.section4-items {
  display: flex;
}

@media (max-width: 768px) {
  .section4-items {
    display: block;
  }
}

.section4-items .section4-item {
  width: 33.3%;
  border-right: 1px solid #CCCCCC;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .section4-items .section4-item {
    width: 100%;
  }
}

.section4-items .section4-item .sec4-img-box {
  width: 100%;
}

.section4-items .section4-item .sec4-img-box img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

@media (max-width: 768px) {
  .section4-items .section4-item .sec4-img-box img {
    width: 100%;
    height: 25vw;
  }
}

.section4-items .section4-item .sec4-content-box {
  padding: 50px;
}

@media (max-width: 768px) {
  .section4-items .section4-item .sec4-content-box {
    padding: 30px 20px;
  }
}

.section4-items .section4-item .sec4-content-box p:nth-child(1) {
  margin: 0;
  font-size: 12px;
  color: white;
  text-align: center;
  background-color: #00306E;
  width: 90px;
  margin: 0 auto 10px;
  padding: 6px 0;
}

.section4-items .section4-item .sec4-content-box p:nth-child(3) {
  font-size: 14px;
  color: #333333;
}

.section4-items .section4-item .sec4-content-box h4 {
  font-size: 19px;
  text-align: center;
  margin: 0 0 20px;
}

.sec4-wrap {
  padding: 60px 0 0 0;
}

@media (max-width: 768px) {
  .sec4-wrap {
    padding: 40px 0 0 0;
  }
}

.sec5-head {
  padding: 30px 0;
  background-color: #00306E;
  color: white;
  position: relative;
}

.sec5-head::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #00306e transparent transparent transparent;
}

.sec5-head p {
  text-align: center;
  font-size: 16px;
  margin: 0;
}

.sec5-head p strong {
  border-bottom: solid 2px #F3920A;
  padding-bottom: 2px;
}

.sec5-head h2 {
  text-align: center;
  font-size: 27px;
  margin: 0;
}

.section5 {
  border-bottom: solid 1px #DDDDDD;
}

.section5 .sec5-title p {
  text-align: center;
  background-color: #00306E;
  color: white;
  width: 120px;
  margin: 0 auto;
  font-size: 15px;
  padding: 8px 16px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .section5 .sec5-title p {
    font-size: 13px;
    padding: 5px 10px;
  }
}

.section5 .sec5-title p strong {
  font-size: 18px;
}

@media (max-width: 768px) {
  .section5 .sec5-title p strong {
    font-size: 15px;
  }
}

.section5 .sec5-title h2 {
  font-size: 27px;
  text-align: center;
  color: #00306e;
  margin-bottom: 30px;
}

.section5 .sec5-title h2 br {
  display: none;
}

@media (max-width: 768px) {
  .section5 .sec5-title h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .section5 .sec5-title h2 br {
    display: block;
  }
}

.section5 .sec5-2col-content {
  display: flex;
  width: 1160px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto 50px;
  background-color: #fff;
  padding: 40px 50px;
}

@media (max-width: 768px) {
  .section5 .sec5-2col-content {
    display: block;
    padding: 30px 15px;
  }
}

.section5 .sec5-2col-content .sec5-content-left {
  box-sizing: border-box;
  width: 35%;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .section5 .sec5-2col-content .sec5-content-left {
    width: 100%;
    padding: 0 40px;
  }
}

.section5 .sec5-2col-content .sec5-content-left img {
  width: 100%;
}

.section5 .sec5-2col-content .sec5-content-right {
  box-sizing: border-box;
  padding: 0 15px;
  width: 65%;
}

@media (max-width: 768px) {
  .section5 .sec5-2col-content .sec5-content-right {
    width: 100%;
    padding: 0 15px;
    margin-top: 20px;
  }
}

.section5 .sec5-2col-content .sec5-content-right h4 {
  font-size: 21px;
  margin: 0 0 20px;
  text-align-last: left;
}

@media (max-width: 768px) {
  .section5 .sec5-2col-content .sec5-content-right h4 {
    font-size: 18px;
    margin: 0;
  }
}

.section5 .sec5-2col-content .sec5-content-right h4::after {
  display: none;
}

.section5 .sec5-2col-content .sec5-content-right p {
  font-size: 15px;
}

@media (max-width: 768px) {
  .section5 .sec5-2col-content .sec5-content-right p {
    font-size: 14px;
    margin: 10px 0 0 0;
  }
  .section5 .sec5-2col-content .sec5-content-right p span {
    display: none;
  }
}

.section5 h4 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .section5 h4 {
    font-size: 18px;
    margin: 10px 0 20px;
  }
}

.section5 h4::after {
  content: "";
  width: 30px;
  margin: 4px auto 0;
  display: block;
  border-bottom: solid 2px #00306E;
}

.section5 .sec5-items {
  display: flex;
  justify-content: center;
  width: 1160px;
  max-width: 100%;
  margin: 0 auto 10px;
}

.section5 .sec5-items .sec5-item {
  width: 33%;
  box-sizing: border-box;
  padding: 0 15px;
}

.section5 .sec5-items .sec5-item .sec5-item-img {
  margin-bottom: 15px;
}

.section5 .sec5-items .sec5-item .sec5-item-img img {
  width: 100%;
}

.section5 .sec5-items .sec5-item h5 {
  margin: 0;
  font-size: 17.6px;
  padding: 0 10px;
}

.section5 .sec5-items .sec5-item h5 strong {
  color: #00306E;
}

.section5 .sec5-items .sec5-item h5 span {
  font-size: 12px;
  color: #B5B5B5;
}

.section5 .sec5-last {
  width: 1160px;
  margin: 0 auto;
  max-width: 100%;
}

.section5 .sec5-last p {
  font-size: 11px;
  text-align: right;
  padding-right: 20px;
  margin-bottom: 0;
  color: #818181;
}

.section6 {
  border-bottom: solid 1px #DDDDDD;
}

.section6 .sec6-title p {
  text-align: center;
  background-color: #00306E;
  color: white;
  width: 120px;
  margin: 0 auto;
  font-size: 15px;
  padding: 8px 16px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .section6 .sec6-title p {
    font-size: 13px;
    padding: 5px 10px;
  }
}

.section6 .sec6-title p strong {
  font-size: 18px;
}

@media (max-width: 768px) {
  .section6 .sec6-title p strong {
    font-size: 15px;
  }
}

.section6 .sec6-title h2 {
  font-size: 27px;
  text-align: center;
  color: #00306e;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .section6 .sec6-title h2 {
    font-size: 20px;
  }
}

.section6 .sec6-2col-content {
  width: 760px;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  color: #333333;
}

@media (max-width: 768px) {
  .section6 .sec6-2col-content {
    display: block;
  }
}

.section6 .sec6-2col-content h5 {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}

.section6 .sec6-2col-content h4 {
  font-size: 18px;
  margin: 0 0 15px;
}

.section6 .sec6-2col-content img {
  width: 330px;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .section6 .sec6-2col-content img {
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 100%;
  }
}

.section6 .sec6-2col-content p {
  font-size: 14px;
  padding: 0 10px;
  text-align-last: left;
}

.section6 .sec6-2col-content p span {
  margin-top: 5px;
  display: block;
  font-size: 12.8px;
}

.section6 .sec6-2col-content .sec6-content-left {
  text-align: center;
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .section6 .sec6-2col-content .sec6-content-left {
    width: 100%;
  }
}

.section6 .sec6-2col-content .sec6-content-right {
  text-align: center;
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .section6 .sec6-2col-content .sec6-content-right {
    width: 100%;
  }
}

.section7 {
  border-bottom: solid 1px #DDDDDD;
}

.section7 .sec7-title p {
  text-align: center;
  background-color: #00306E;
  color: white;
  width: 120px;
  margin: 0 auto;
  font-size: 15px;
  padding: 8px 16px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .section7 .sec7-title p {
    font-size: 13px;
    padding: 5px 10px;
  }
}

.section7 .sec7-title p strong {
  font-size: 18px;
}

@media (max-width: 768px) {
  .section7 .sec7-title p strong {
    font-size: 15px;
  }
}

.section7 .sec7-title h2 {
  font-size: 27px;
  text-align: center;
  color: #00306e;
  margin-bottom: 20px;
}

.section7 .sec7-title h2 br {
  display: none;
}

@media (max-width: 768px) {
  .section7 .sec7-title h2 {
    font-size: 20px;
  }
  .section7 .sec7-title h2 br {
    display: block;
  }
}

.section7 .sec7-subtitle p {
  font-size: 15px;
  text-align: center;
  color: #333333;
  margin-bottom: 30px;
}

.section7 .sec7-2col-content {
  display: flex;
}

@media (max-width: 768px) {
  .section7 .sec7-2col-content {
    display: block;
  }
}

.section7 .sec7-2col-content .sec7-left-content {
  width: 50%;
}

@media (max-width: 768px) {
  .section7 .sec7-2col-content .sec7-left-content {
    width: 100%;
  }
}

.section7 .sec7-2col-content .sec7-left-content img {
  width: 100%;
}

.section7 .sec7-2col-content .sec7-right-content {
  width: 50%;
  padding: 80px 65px;
}

@media (max-width: 768px) {
  .section7 .sec7-2col-content .sec7-right-content {
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
  }
}

.section7 .sec7-2col-content .sec7-right-content h3 {
  font-size: 26px;
  margin-top: 0;
  position: relative;
}

@media (max-width: 768px) {
  .section7 .sec7-2col-content .sec7-right-content h3 {
    font-size: 21px;
    text-align: center;
  }
}

.section7 .sec7-2col-content .sec7-right-content h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 55px;
  display: block;
  margin: 4px auto 0;
  border-bottom: solid #00306e 2px;
}

@media (max-width: 768px) {
  .section7 .sec7-2col-content .sec7-right-content h3::after {
    left: 0;
    right: 0;
    width: 35px;
  }
}

.section7 .sec7-2col-content .sec7-right-content p {
  font-size: 15px;
  margin-top: 0;
}

.section8 {
  border-bottom: solid 1px #DDDDDD;
}

.section8 .sec8-title p {
  text-align: center;
  background-color: #00306E;
  color: white;
  width: 120px;
  margin: 0 auto;
  font-size: 15px;
  padding: 8px 16px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .section8 .sec8-title p {
    font-size: 13px;
    padding: 5px 10px;
  }
}

.section8 .sec8-title p strong {
  font-size: 18px;
}

@media (max-width: 768px) {
  .section8 .sec8-title p strong {
    font-size: 15px;
  }
}

.section8 .sec8-title h2 {
  font-size: 27px;
  text-align: center;
  color: #00306e;
  margin-bottom: 20px;
}

.section8 .sec8-title h2 br {
  display: none;
}

@media (max-width: 768px) {
  .section8 .sec8-title h2 {
    font-size: 20px;
  }
  .section8 .sec8-title h2 br {
    display: block;
  }
}

.section8 .sec8-subtitle p {
  text-align: center;
  font-size: 15px;
  color: #333333;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .section8 .sec8-subtitle p {
    padding-left: 10px;
    font-size: 14px;
    text-align-last: left;
  }
}

.section8 .sec8-4col-content {
  width: 1160px;
  margin: 0 auto 40px;
  max-width: 100%;
  display: flex;
}

.section8 .sec8-4col-content .sec8-item1 {
  width: 25%;
  padding: 20px 15px;
  color: #333333;
  box-sizing: border-box;
  position: relative;
}

.section8 .sec8-4col-content .sec8-item1:nth-last-child(1)::before {
  display: none;
}

.section8 .sec8-4col-content .sec8-item1:nth-last-child(1)::after {
  display: none;
}

.section8 .sec8-4col-content .sec8-item1:nth-last-child(1) .sec8-item-content::after {
  display: none;
}

.section8 .sec8-4col-content .sec8-item1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 60%;
  right: 0;
  width: 1px;
  background-color: #00306e;
}

.section8 .sec8-4col-content .sec8-item1::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 60%;
  right: 0;
  width: 1px;
  background-color: #00306e;
}

.section8 .sec8-4col-content .sec8-item1 .sec8-item-content::after {
  content: "";
  position: absolute;
  display: block;
  top: 46%;
  right: -8px;
  border-style: solid;
  border-width: 11px 0 11px 11px;
  border-color: transparent transparent transparent #00306E;
}

.section8 .sec8-4col-content .sec8-item1 .white-box {
  text-align: center;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
}

.section8 .sec8-4col-content .sec8-item1 .white-box img {
  width: 50%;
  padding-top: 20px;
}

.section8 .sec8-4col-content .sec8-item1 h4 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.section8 .sec8-4col-content .sec8-item1 p {
  font-size: 13.6px;
}

.section8 .sec8-para-content {
  width: 950px;
  margin: 0 auto;
  padding: 30px 20px;
  border: solid 1px #00306e;
  max-width: 100%;
}

@media (max-width: 768px) {
  .section8 .sec8-para-content {
    width: 90%;
    padding: 30px 15px;
  }
}

.section8 .sec8-para-content h4 {
  font-size: 18.4px;
  text-align: center;
  margin: 0 0 15px;
  color: #00306e;
}

@media (max-width: 768px) {
  .section8 .sec8-para-content h4 {
    font-size: 15px;
    text-align-last: left;
    margin-bottom: 8px;
  }
}

.section8 .sec8-para-content P {
  margin: 0;
  text-align: center;
  font-size: 14.4px;
  color: #333333;
}

@media (max-width: 768px) {
  .section8 .sec8-para-content P {
    font-size: 13px;
    text-align-last: left;
    letter-spacing: 0.4px;
  }
}

.section8 .sec8-last p {
  font-size: 11px;
  width: 90%;
  margin: 10px auto 0;
  text-align-last: right;
  color: #333333;
}

@media (max-width: 768px) {
  .section8 .sec8-last p {
    text-align-last: left;
    width: 100%;
    padding-left: 20px;
  }
}

.section8 .sec8-last p span {
  border-bottom: solid 1px #333333;
}

.section9 {
  border-bottom: solid 1px #DDDDDD;
}

.section9 .sec9-title p {
  text-align: center;
  background-color: #00306E;
  color: white;
  width: 120px;
  margin: 0 auto;
  font-size: 15px;
  padding: 8px 16px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .section9 .sec9-title p {
    font-size: 13px;
    padding: 5px 10px;
  }
}

.section9 .sec9-title p strong {
  font-size: 18px;
}

@media (max-width: 768px) {
  .section9 .sec9-title p strong {
    font-size: 15px;
  }
}

.section9 .sec9-title h2 {
  font-size: 27px;
  text-align: center;
  color: #00306e;
  margin-bottom: 20px;
}

.section9 .sec9-title h2 br {
  display: none;
}

@media (max-width: 768px) {
  .section9 .sec9-title h2 {
    font-size: 20px;
  }
  .section9 .sec9-title h2 br {
    display: block;
  }
}

.section9 .sec9-subtitle p {
  text-align: center;
  font-size: 15px;
  color: #333333;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .section9 .sec9-subtitle p {
    font-size: 14px;
    text-align-last: left;
  }
}

.section9 .sec9-subtitle p strong {
  border-bottom: solid 1px #333333;
}

.section9 .sec9-subtitle p small {
  font-size: 10px;
  vertical-align: top;
}

.section9 .sec9-imgbox {
  width: 47%;
  margin: 0 auto 40px;
}

@media (max-width: 768px) {
  .section9 .sec9-imgbox {
    width: 100%;
  }
}

.section9 .sec9-imgbox .sec9-img2 {
  display: none;
}

@media (max-width: 768px) {
  .section9 .sec9-imgbox .sec9-img1 {
    display: none;
  }
  .section9 .sec9-imgbox .sec9-img2 {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
}

.section9 .sec9-imgbox-contents {
  width: 1152px;
  margin: 0 auto;
  max-width: 100%;
}

.section9 .sec9-imgbox-contents ul {
  display: grid;
  grid-template-rows: 90px 90px 90px;
  grid-template-columns: 230px 230px 230px 230px 230px;
  padding: 0 15px 0;
  box-sizing: border-box;
  border-top: solid 2px #DDDDDD;
  border-left: solid 2px #DDDDDD;
  margin: 0;
}

@media (max-width: 768px) {
  .section9 .sec9-imgbox-contents ul {
    grid-template-rows: 60px 60px 60px 60px 60px;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
  }
}

.section9 .sec9-imgbox-contents ul li {
  list-style: none;
  border-right: 2px solid #DDDDDD;
  border-bottom: 2px solid #DDDDDD;
  text-align: center;
  background-color: #fff;
}

.section9 .sec9-imgbox-contents ul li img {
  margin: 15px 0;
  display: inline-block;
  height: 60px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .section9 .sec9-imgbox-contents ul li img {
    height: 30px;
  }
}

@media (max-width: 768px) {
  .section9 .sec9-imgbox-contents ul .sec9-border-top {
    border-top: solid 2px #DDDD !important;
  }
}

@media (max-width: 768px) {
  .section9 .sec9-imgbox-contents ul .sec9-border-left {
    border-left: solid 2px #DDDD;
  }
}

.section9 .sec9-imgbox-contents p {
  font-size: 10px;
  text-align: right;
  margin: 0;
  color: #333333;
}

.section10 h2 {
  font-size: 27px;
  text-align: center;
  color: #00306e;
  margin-bottom: 30px;
}

.section10 h2 br {
  display: none;
}

@media (max-width: 768px) {
  .section10 h2 {
    font-size: 20px;
    margin: 0 0 30px 0;
  }
  .section10 h2 br {
    display: block;
  }
}

.section10 .sec10-container {
  width: 1150px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .section10 .sec10-container {
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
  }
}

.section10 .sec10-container table {
  width: 100%;
  border-collapse: collapse;
  border: solid 1px #DDDDDD;
}

.section10 .sec10-container table tr th {
  padding: 20px 15px;
  width: 18.5%;
  box-sizing: border-box;
  font-weight: normal;
  background-color: #CCCCCC;
  color: #333;
  border-right: 1px solid #DDDDDD;
}

@media (max-width: 768px) {
  .section10 .sec10-container table tr th {
    padding: 10px 15px;
    font-size: 13px;
  }
}

.section10 .sec10-container table tr th:nth-child(1) {
  text-align: left;
  width: 26%;
}

.section10 .sec10-container table tr th:nth-child(2) {
  background-color: #F3920A;
  color: white;
  font-weight: 600;
  border: 6px solid #f3920b;
}

.section10 .sec10-container table tbody tr:nth-child(3) td {
  position: relative;
}

.section10 .sec10-container table tbody tr:nth-child(3) td small {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.section10 .sec10-container table tbody tr:nth-child(8) td {
  position: relative;
}

.section10 .sec10-container table tbody tr:nth-child(8) td small {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.section10 .sec10-container table tbody tr:nth-child(9) td:nth-child(2) {
  position: relative;
}

.section10 .sec10-container table tbody tr:nth-child(9) td:nth-child(2) small {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.section10 .sec10-container table tbody tr td {
  font-size: 14px;
  padding: 15px 20px;
  text-align: center;
  color: #333333;
  border-bottom: solid 1px #DDDDDD;
  border-right: solid 1px #DDDDDD;
}

@media (max-width: 768px) {
  .section10 .sec10-container table tbody tr td {
    padding: 10px;
    font-size: 12px;
  }
}

.section10 .sec10-container table tbody tr td:nth-child(1) {
  text-align: left;
  border-bottom: solid 1px #DDDDDD;
}

.section10 .sec10-container table tbody tr td:nth-child(2) {
  color: #F3920A;
  border-left: solid #F3920A 6px;
  border-right: solid #F3920A 6px;
}

.section10 .sec10-container table tbody tr td:nth-child(n + 3) {
  color: #777777;
}

.section10 .sec10-container table tbody tr td strong {
  font-size: 24px;
  color: #777777;
}

.section10 .sec10-container table tbody tr td small {
  display: block;
  font-size: 10px;
  color: #777777;
}

.section10 .sec10-container .sec10-para {
  margin-top: 10px;
}

.section10 .sec10-container .sec10-para p {
  text-align: right;
  margin: 4px 0 0 0;
  font-size: 11px;
  color: #333333;
}

@media (max-width: 768px) {
  .section10 .sec10-container .sec10-para p {
    text-align-last: left;
    font-size: 10px;
  }
}

.section10 .sec10-container .sec10-para p a {
  color: #333333;
  border-bottom: solid 1px #333333;
}

.section11 {
  background-color: #00306E;
  text-align: center;
  color: white;
}

.section11 .sec11-top h2 {
  font-size: 27px;
}

.section11 .sec11-top h2 br {
  display: none;
}

@media (max-width: 768px) {
  .section11 .sec11-top h2 {
    font-size: 23px;
  }
  .section11 .sec11-top h2 br {
    display: block;
  }
}

.section11 .sec11-top p {
  font-size: 15px;
}

.section11 .sec11-top p br {
  display: none;
}

@media (max-width: 768px) {
  .section11 .sec11-top p {
    font-size: 14px;
  }
  .section11 .sec11-top p br {
    display: block;
  }
}

.section11 .sec11-button a {
  font-size: 15px;
  padding: 18px 40px;
  background-color: #F3920A;
  color: white;
  border-radius: 30px;
  margin-top: 30px;
  display: inline-block;
  margin-bottom: 10px;
}

.section11 .sec11-button a i {
  font-size: 20px;
  margin-left: 6px;
}

.section11 .sec11-last {
  font-size: 12px;
  text-align: center;
}

.section11 .sec11-last p {
  margin-bottom: 0;
}

.section11 .sec11-last p br {
  display: none;
}

@media (max-width: 768px) {
  .section11 .sec11-last p br {
    display: block;
  }
}

.section12 {
  border-bottom: solid 1px #DDDDDD;
}

.section12 h2 {
  text-align: center;
  font-size: 25.6px;
  color: #00306E;
}

.section12 h2 br {
  display: none;
}

@media (max-width: 768px) {
  .section12 h2 {
    font-size: 20px;
  }
  .section12 h2 br {
    display: block;
  }
}

.section12 .sec12-items {
  width: 1160px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

@media (max-width: 768px) {
  .section12 .sec12-items {
    display: block;
  }
}

.section12 .sec12-items .sec12-item {
  width: 25%;
  box-sizing: border-box;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .section12 .sec12-items .sec12-item {
    display: flex;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

.section12 .sec12-items .sec12-item:nth-child(4):nth-child(4) img {
  object-position: 90%;
}

.section12 .sec12-items .sec12-item .sec12-imgbox {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .section12 .sec12-items .sec12-item .sec12-imgbox {
    width: 90px;
    box-sizing: border-box;
    margin-right: 10px;
  }
}

.section12 .sec12-items .sec12-item .sec12-imgbox img {
  width: 160px;
  border-radius: 50%;
  height: 160px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .section12 .sec12-items .sec12-item .sec12-imgbox img {
    width: 90px;
    height: 90px;
  }
}

.section12 .sec12-items .sec12-item .sec12-content-box {
  text-align: center;
  color: #333333;
}

@media (max-width: 768px) {
  .section12 .sec12-items .sec12-item .sec12-content-box {
    width: 80%;
    text-align-last: left;
  }
}

.section12 .sec12-items .sec12-item .sec12-content-box h5 {
  margin: 0 0 10px;
  font-size: 16px;
}

.section12 .sec12-items .sec12-item .sec12-content-box p {
  margin: 0;
  font-size: 13px;
}

.section13 {
  border-bottom: solid 1px #DDDDDD;
}

.section13 .sec13-top h2 {
  text-align: center;
  font-size: 27.6px;
  color: #00306E;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .section13 .sec13-top h2 {
    font-size: 20px;
  }
}

.section13 .sec13-items {
  width: 1160px;
  max-width: 100%;
  margin: 0 auto 40px;
  display: flex;
}

.section13 .sec13-items .sec13-item {
  width: 33%;
  text-align: center;
  padding: 0 15px 10px;
  box-sizing: border-box;
  position: relative;
  color: #333333;
}

.section13 .sec13-items .sec13-item:nth-last-child(1)::after {
  display: none;
}

.section13 .sec13-items .sec13-item::after {
  content: "";
  position: absolute;
  top: 55px;
  right: -60px;
  width: 120px;
  height: 10px;
  border-radius: 10px;
  background-color: #DDDD;
  display: block;
}

.section13 .sec13-items .sec13-item .sec13-box-circle {
  width: 110px;
  height: 110px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto 20px;
  border: solid 3px #0090D9;
  box-sizing: border-box;
}

.section13 .sec13-items .sec13-item .sec13-box-circle img {
  width: 40px;
  padding-top: 35px;
}

.section13 .sec13-items .sec13-item h4 {
  margin: 0 0 10px;
}

.section13 .sec13-items .sec13-item h4 span {
  font-size: 14px;
  background-color: #0090d9;
  padding: 7px 9px;
  border-radius: 50%;
  color: white;
  margin-right: 8px;
}

.section13 .sec13-items .sec13-item h4 strong {
  font-size: 18px;
}

.section13 .sec13-items .sec13-item p {
  margin: 0;
  font-size: 13.6px;
}

.section13 .sec13-button {
  text-align: center;
}

.section13 .sec13-button a {
  padding: 15px 40px;
  color: white;
  background-color: #0090D9;
  border-radius: 30px;
  font-size: 15px;
}

.section13 .sec13-button a i {
  font-size: 18px;
  margin-left: 8px;
}

.section14 {
  border-bottom: solid 1px #dddddd;
  background-color: #fff;
}

.section14 .sec14-top h2 {
  text-align: center;
  font-size: 27.6px;
  color: #00306E;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .section14 .sec14-top h2 {
    font-size: 20px;
  }
}

.section14 .sec14-container {
  width: 65%;
  margin: 0 auto 30px;
  padding: 20px 30px;
  box-sizing: border-box;
  border: solid 1px #dddddd;
  background-color: #F9F9F9;
}

@media (max-width: 768px) {
  .section14 .sec14-container {
    width: 95%;
    padding: 15px;
  }
}

.section14 .sec14-container:nth-last-child(1) {
  margin-bottom: 0;
}

.section14 .sec14-container h5 {
  font-size: 16px;
  margin: 0 0 20px;
  color: #00306E;
}

@media (max-width: 768px) {
  .section14 .sec14-container h5 {
    margin-bottom: 8px;
  }
}

.section14 .sec14-container h5 strong {
  margin-right: 26px;
}

.section14 .sec14-container p {
  font-size: 15px;
  margin: 0;
  color: #333333;
}

.section14 .sec14-container p strong {
  display: inline-block;
  width: 40px;
  vertical-align: top;
}

.section14 .sec14-container p span {
  display: inline-block;
  width: calc(100% - 40px);
}

@media (max-width: 768px) {
  .section14 .sec14-container p span {
    font-size: 13px;
  }
}

.section14 .sec14-container p small {
  display: block;
  font-size: 12.8px;
  padding-top: 6px;
}

.section15 .sec15-container {
  display: flex;
  background-color: #FAFAFA;
  height: 220px;
}

@media (max-width: 768px) {
  .section15 .sec15-container {
    display: block;
    height: auto;
  }
}

.section15 .sec15-container .sec15-left {
  width: 41%;
}

@media (max-width: 768px) {
  .section15 .sec15-container .sec15-left {
    width: 100%;
  }
}

.section15 .sec15-container .sec15-left img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.section15 .sec15-container .sec15-right {
  width: 59%;
  padding: 0 15px;
  box-sizing: border-box;
  color: #333333;
}

@media (max-width: 768px) {
  .section15 .sec15-container .sec15-right {
    width: 100%;
    padding: 20px;
  }
}

.section15 .sec15-container .sec15-right .sec15-right-inner {
  padding: 40px 60px;
}

@media (max-width: 768px) {
  .section15 .sec15-container .sec15-right .sec15-right-inner {
    padding: 0;
  }
}

.section15 .sec15-container .sec15-right .sec15-right-inner h2 {
  font-size: 27.2px;
  margin: 0 0 10px 20px;
}

@media (max-width: 768px) {
  .section15 .sec15-container .sec15-right .sec15-right-inner h2 {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

.section15 .sec15-container .sec15-right .sec15-right-inner p {
  font-size: 15px;
  margin: 0 0 0 20px;
}

.section15 .sec15-container .sec15-right .sec15-right-inner p br {
  display: none;
}

@media (max-width: 768px) {
  .section15 .sec15-container .sec15-right .sec15-right-inner p {
    font-size: 12px;
  }
  .section15 .sec15-container .sec15-right .sec15-right-inner p br {
    display: block;
  }
}

.section16 {
  border-bottom: solid 1px #dddddd;
}

.sec16-items {
  padding: 20px;
  display: flex;
  background-color: #f0f4f5;
}

.sec16-items .sec16-item {
  padding: 15px;
}

.sec16-items .sec16-item img {
  width: 100%;
}

footer .footer-wrapper {
  padding: 20px 40px 0;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (max-width: 768px) {
  footer .footer-wrapper {
    padding: 20px 20px 0;
  }
}

footer .footer-wrapper .footer-contents {
  width: 1160px;
  margin: 0 auto;
  padding: 20px 40px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #DDDDDD;
}

@media (max-width: 768px) {
  footer .footer-wrapper .footer-contents {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0 0;
    border-bottom: none;
  }
}

footer .footer-wrapper .footer-contents .footer-icons {
  margin-bottom: 15px;
}

footer .footer-wrapper .footer-contents .footer-icons .footer-icon-left {
  background-color: #1877F2;
  color: white;
  padding: 2px 8px;
  font-size: 11px;
  display: inline-block;
  border-radius: 4px;
  font-weight: bold;
}

footer .footer-wrapper .footer-contents .footer-icons .footer-icon-left i {
  margin-right: 4px;
  font-size: 12px;
}

footer .footer-wrapper .footer-contents .footer-icons .footer-icon-center {
  display: inline-block;
  background-color: #1877F2;
  font-size: 11px;
  padding: 2px 8px;
  border-radius: 4px;
  color: white;
}

footer .footer-wrapper .footer-contents .footer-icons .footer-icon-right {
  font-size: 11px;
  background-color: #1B95E0;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  color: white;
}

footer .footer-wrapper .footer-sec {
  font-size: 12px;
  color: #333333;
}

footer .footer-wrapper .footer-para-box {
  background-color: #f7f7ff;
  color: #333333;
  padding: 15px;
  margin-bottom: 20px;
}

footer .footer-wrapper .footer-para-box p {
  margin: 0;
  font-size: 11px;
}

footer .footer-wrapper .footer-para-box p:nth-child(1) {
  font-size: 12px;
}

footer .footer-wrapper .footer-contents2 {
  border-bottom: solid 1px #DDDDDD;
  padding: 20px 30px 15px;
  margin: 0 auto 20px;
  width: 1160px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  footer .footer-wrapper .footer-contents2 {
    width: 100%;
    padding: 20px 0 15px;
    border-bottom: none;
  }
}

footer .footer-wrapper .footer-contents2 .footer-items {
  display: flex;
}

@media (max-width: 768px) {
  footer .footer-wrapper .footer-contents2 .footer-items {
    display: block;
  }
}

footer .footer-wrapper .footer-contents2 .footer-items .footer-item {
  width: 25%;
  text-align: center;
}

@media (max-width: 768px) {
  footer .footer-wrapper .footer-contents2 .footer-items .footer-item {
    width: 100%;
  }
}

footer .footer-wrapper .footer-contents2 .footer-items .footer-item .footer-item-content ul {
  text-align-last: left;
  margin: 0;
  padding: 0 15px;
}

footer .footer-wrapper .footer-contents2 .footer-items .footer-item .footer-item-content ul p {
  font-size: 13px;
  color: #999999;
  margin: 0 0 5px;
}

footer .footer-wrapper .footer-contents2 .footer-items .footer-item .footer-item-content ul li {
  list-style: none;
  font-size: 13px;
  padding: 0 0 0 10px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  footer .footer-wrapper .footer-contents2 .footer-items .footer-item .footer-item-content ul li {
    background-color: #f9f9f9;
    padding: 10px;
  }
  footer .footer-wrapper .footer-contents2 .footer-items .footer-item .footer-item-content ul li:nth-last-child(1) {
    margin-bottom: 20px;
  }
}

footer .footer-wrapper .footer-contents2 .footer-items .footer-item .footer-item-content ul li a {
  color: #999999;
}

footer .footer-wrapper .footer-contents2 .footer-items .footer-item .footer-item-content ul li a i {
  font-size: 6px;
}

footer .footer-wrapper .footer-contents2 .footer-items .footer-item .footer-button {
  padding: 0 30px 0;
  margin-bottom: 8px;
}

footer .footer-wrapper .footer-contents2 .footer-items .footer-item .footer-button a {
  font-size: 11px;
  display: block;
  background-color: #f3920b;
  padding: 15px 20px;
  color: white;
  box-shadow: 8px 10px 20px 0 rgba(0, 0, 0, 0.12);
}

footer .footer-wrapper .footer-contents2 .footer-items .footer-item .fotter-button2 a {
  background-color: #fff;
  color: #00306E;
  border: solid 1px #00306E;
}

footer .footer-wrapper .footer-last {
  text-align: center;
}

footer .footer-wrapper .footer-last p {
  font-size: 13px;
  color: #333333;
}
